@font-face
{
    font-family: "latoBlack";
    src: url("../../lib/fonts/lato/Lato-Black.ttf");
}

#header
{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
}

h1, h2, p, label
{
    font-family: 'latoBlack';
}

h1
{
    font-size: 80px;
    color: white;
}

h2
{
    font-size: 60px;
    color: white;
}

p
{
    color: white;
    text-align: center;
}

label
{
    color: white;
    font-size: 15px;
}

#body_div
{
    background-color: #0A1B1F;
}

#header_contener
{
    display: flex;
    justify-content: flex-end;
}

.button_header
{
    padding: 20px;
    padding-right: 100px;
}

#main_logo
{
    float: left;
    padding: 20px;
}

#choose_game_contener
{
    display: flex;
    justify-content: center;
}

.button_choose_game
{
    width: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

#choose_game_txt
{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

#server_country_txt
{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    text-align: center;
}

#select_server_div
{
    padding-left: 46%;
}

.select_server_item:hover
{
    background-color: red;
}
