<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>againstU - aboutUs</title>
        <link rel="icon" type="image/png" href="/assets/lib/icons/icon_againstu.png"/>
        <link rel="stylesheet" href="assets/css/about.css"/>
    </head>
    <header id="header">
        <a href="index"><img src="assets/lib/images/logo_againstu.png" alt="main_logo" id="main_logo"/></a>
        <div id="header_contener">
            <a href="lol"><img src="assets/lib/images/lol.png" alt="lol_logo" class="button_header"/></a>
            <a href="dota"><img src="assets/lib/images/dota.png" alt="header_logo" class="button_header"/></a>
            <a href="about"><ul class="button_header">About us</ul></a>
        </div>
    </header>
    <body>
        <div id="info_website">
            <div id="table">
                <div id="title_div">
                    <h4 id="title">What is AgainstU ?</h4>
                </div>
                <div id="p_div">
                    <p id="p_info_about_us">AgainstU is a website made by two first-year EPITECH students: <br><br>
                    <strong><a href="https://github.com/AntoineMaillard06">Antoine Maillard</a></strong> and <strong><a href="https://github.com/theocerutti">Théo Cerutti</a></strong>.
                    <br><br>We created a system to easily acess data about two MOBA games:<br><br>
                    <strong><a href="https://leagueoflegends.com">League Of Legends</a></strong> and <strong><a href="https://dota2.com">Dota</a></strong>.</p>
                </div>
            </div>
        </div>
        <div id="body_div">
            <div id="info_div">
                <div class="dev_div">
                    <div>
                        <p class="dev_name">Antoine</p>
                    </div>
                    <div class="dev_img_github_div">
                        <a href="https://github.com/AntoineMaillard06"><img class="github_img" alt="github_logo_not_found" src="assets/lib/images/github_icon.png"/></a>
                    </div>
                </div>
                <p style="padding-top: 150px;">Check our Github profiles</p>
                <div class="dev_div">
                    <div>
                        <p class="dev_name">Théo</p>
                    </div>
                    <div class="dev_img_github_div">
                        <a href="https://github.com/theocerutti"><img class="github_img" alt="github_logo_not_found" src="assets/lib/images/github_icon.png"/></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>