<!DOCTYPE html>
<html>

<head>
    <title>DOTA - {{stat_dota.data_acc.name}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/dota_stat/css/style.css">
</head>

<header id="header">
    <a href="index"><img src="assets/lib/images/againstu.png" alt="main_logo" id="main_logo" /></a>
    <div id="header_contener">
        <a href="lol"><img src="assets/lib/images/lol.png" alt="lol_logo" class="button_header" /></a>
        <a href="dota"><img src="assets/lib/images/dota.png" alt="header_logo" class="button_header" /></a>
        <a href="about">
            <ul class="button_header">About us</ul>
        </a>
    </div>
</header>

<body>
    <div id="header_stat">
        <img src="{{stat_dota.data_acc.profileIconId}}" alt="Icon not found" class="header_stat_box" id="icon">
        <div id="id_lvl" class="header_stat_box">
            <p>{{stat_dota.data_acc.name}}</p>
            <p>Level : {{stat_dota.data_acc.summonerLevel}}</p>
        </div>
    </div>
</body>

</html>