<!DOCTYPE html>
<html>
    <% include head_dota.ejs %>
    <body>
        <% include overview_info_dota.ejs %>
        <div id="all_matches_div">
            <span>
                <% for (var n_matches = 0; n_matches < 5; n_matches++) { %>
                    <div id="one_match_div">
                        <% include overview_match_info.ejs %>
                        <% for (var id_team = 0, n_player = 9; id_team < 2; id_team++) { %>
                            <% include match_table_dota.ejs %>
                        <% } %>
                    </div>
                <% } %>
            </span>
        </div>
    </body>
</html>
