<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/css/dota.css"/>
        <title>Dota2</title>
        <link rel="icon" type="image/png" href="/assets/lib/icons/icon_againstu.png"/>
    </head>
    <header id="header">
        <a href="index"><img src="/assets/lib/images/logo_againstu.png" alt="main_logo" id="main_logo"/></a>
        <div id="header_contener">
            <a href="lol"><img src="/assets/lib/images/lol.png" alt="lol_logo" class="button_header"/></a>
            <a href="dota"><img src="/assets/lib/images/dota.png" alt="header_logo" class="button_header"/></a>
            <a href="about"><ul class="button_header">About us</ul></a>
        </div>
    </header>
    <body id="body_div">
        <div id="choose_game_txt">
            <h1>Enter your SteamID32:</h1>
        </div>
        <div id="input_pseudo_div">
            <input type="text" id="input_steamid" placeholder="SteamID32..."></input>
        </div>
        <div id="submit_button_div">
            <button type="submit" id="submit_button" onclick="get_id_dota()">Submit</button>
        </div>
        <div id="steamid_div">
            <h2 id="find_your_steam_id">Find your SteamID32</h2>
            <a id="steamid_a"href="https://steamid.xyz/">HERE</a>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/js/dota_stat.js"></script>
    </body>
</html>
