<head>
    <title>DOTA - <%=stat_dota.id32%></title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/assets/lib/icons/icon_againstu.png"/>
    <link rel="stylesheet" href="assets/css/dota_stat.css">
</head>
<header id="header">
    <a href="index"><img src="assets/lib/images/logo_againstu.png" alt="main_logo" id="main_logo" /></a>
    <div id="header_contener">
        <a href="lol"><img src="assets/lib/images/lol.png" alt="lol_logo" class="button_header" /></a>
        <a href="dota"><img src="assets/lib/images/dota.png" alt="header_logo" class="button_header" /></a>
        <a href="about">
            <ul class="button_header">About us</ul>
        </a>
    </div>
</header>