<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>againstU - Know your enemies!</title>
        <link rel="icon" type="image/png" href="assets/lib/icons/favicon.png"/>
        <link rel="stylesheet" href="assets/index/css/style.css"/>
    </head>

    <header id="header">
        <a href="index"><img src="assets/lib/images/againstu.png" alt="main_logo" id="main_logo"/></a>
        <div id="header_contener">
            <a href="lol"><img src="assets/lib/images/lol.png" alt="lol_logo" class="button_header"/></a>
            <a href="dota"><img src="assets/lib/images/dota.png" alt="header_logo" class="button_header"/></a>
        </div>
    </header>
    
    <body id="body_div">
        <div id="choose_game_contener">
            <a href="dota"><img src="assets/lib/images/main_dota.png" alt="header_logo" class="button_choose_game"/></a>
            <a href="lol"><img src="assets/lib/images/main_lol.png" alt="lol_logo" class="button_choose_game" id="test"/></a>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>
