<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>LOL - Found Him</title>
        <link rel="stylesheet" href="/assets/page1/css/style.css">
    </head>

    <header id="header">
        <a href="index"><img src="/assets/lib/images/againstu.png" alt="main_logo" id="main_logo"/></a>
        <div id="header_contener">
            <a href="lol"><img src="/assets/lib/images/lol.png" alt="lol_logo" class="button_header"/></a>
            <a href="dota"><img src="/assets/lib/images/dota.png" alt="header_logo" class="button_header"/></a>
        </div>
    </header>

    <body>
        <div id="network_id_box">
            <p id="info" class="network_id">Choose your opponent:</p>
            <div class="input">
                <input class="input_network_id" type="text" placeholder="Your pseudo here..." id="username" ></input>
            </div>
            <div class="input">
                <button id="submit" class="input_network_id" onclick="get_id()">GO</button>
            </div>
            <div id="select_server_div">
                <select id="select_server">
                     <option class="select_server_item" value="EU West">EU West</option>
                     <option class="select_server_item" value="North America">North America</option>
                </select>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/js/get_id_lol.js"></script>
    </body>
</html>
