<!DOCTYPE html>
<html>
    <head>
        <title>LOL - <%=stat.data_acc.name%></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="assets/lol_stat/css/style.css">
    </head>

    <header id="header">
        <a href="index"><img src="assets/lib/images/againstu.png" alt="main_logo" id="main_logo"/></a>
        <div id="header_contener">
            <a href="lol"><img src="assets/lib/images/lol.png" alt="lol_logo" class="button_header"/></a>
            <a href="dota"><img src="assets/lib/images/dota.png" alt="header_logo" class="button_header"/></a>
            <a href="about"><ul class="button_header">About us</ul></a>
        </div>
    </header>

    <body>
        <div id="header_stat">
            <div id="first_stat">
                <img src="<%=stat.data_acc.profileIconId%>" alt="Icon not found" id="icon">
                <div id="id_lvl">
                    <p id="text_id"><%=stat.data_acc.name%></p>
                    <p id="text_lvl">Level : <%=stat.data_acc.summonerLevel%></p>
                </div>
            </div>
            
            <div id="winrate_global">
            </div>

            <div id="best_champ">
            </div>
        </div>

        <div id="body_matches">
        </div>
    </body>
</html>
