<!DOCTYPE html>
<html>
    <head>
        <!--<title>LOL - {{stat.data_acc.name}}</title>-->
        <meta charset="utf-8">
        <link rel="stylesheet" href="assets/lol_stat/css/style.css">
        <link rel="icon" type="image/png" href="/assets/lib/icons/icon_againstu.png"/>
    </head>

    <header id="header">
        <a href="index"><img src="assets/lib/images/logo_againstu.png" alt="main_logo" id="main_logo"/></a>
        <div id="header_contener">
            <a href="lol"><img src="assets/lib/images/lol.png" alt="lol_logo" class="button_header"/></a>
            <a href="dota"><img src="assets/lib/images/dota.png" alt="header_logo" class="button_header"/></a>
            <a href="about"><ul class="button_header">About us</ul></a>
        </div>
    </header>

    <body>
        <!--<div id="header_stat">
            <img src="{{stat.data_acc.profileIconId}}" alt="Icon not found" class="header_stat_box" id="icon">
            <div id="id_lvl" class="header_stat_box">
                <p>{{stat.data_acc.name}}</p>
                <p>Level : {{stat.data_acc.summonerLevel}}</p>
            </div>
        </div>-->
    </body>
</html>
