@font-face {
    font-family: "latoBlack";
    src: url("../../lib/fonts/lato/Lato-Black.ttf");
}

@font-face {
    font-family: "marketDeco";
    src: url("../../lib/fonts/market_deco/Market_Deco.ttf");
}

h1, h2, p, label, a
{
    font-family: latoBlack, Geneva, sans-serif;
}

a:hover
{
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#header
{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
}

#header_contener
{
    display: flex;
    justify-content: flex-end;
}

#main_logo
{
    float: left;
    padding: 20px;
}

.button_header
{
    padding: 15px;
    padding-right: 100px;
}

/*
    HEADER INFO
*/

#header_overview_div {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#overview_div {
    display: flex;
    background-color: red;
    border: 3px solid gray;
}

#overview_img {
    padding: 30px;
    height: 60%;
    width: 40%;
    margin: auto;
}

#overview_div_info {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#matches_win_div {
    background-color: blue;
    border: 3px solid gray;
}

#heroes_most_played_title {
    text-align: center;
}
.fig_heroe_name_most_played {
    text-align: center;
}

#matches_win_sub_div {
    display: flex;
    justify-content: space-around;
}

#pourcentage_ranking_div {
    background-color: yellow;
    border: 3px solid gray;
    padding: 20px;
}

#steam_info_player_div {
    background-color: green;
    border: 3px solid gray;
    border-top: 0px;
    padding: 20px;
}

/*
    MATCHES
*/

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

caption {
    box-align: left;
}

#matches_div {
    display: flex;
    justify-content: center;
}