@font-face {
    font-family: "latoBlack";
    src: url("../../lib/fonts/lato/Lato-Black.ttf");
}

@font-face {
    font-family: "marketDeco";
    src: url("../../lib/fonts/market_deco/Market_Deco.ttf");
}

h1, h2, p, label, a
{
    font-family: latoBlack, Geneva, sans-serif;
}

a:hover
{
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#header
{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
}

#header_contener
{
    display: flex;
    justify-content: flex-end;
}

#main_logo
{
    float: left;
    padding: 20px;
}

.button_header
{
    padding: 15px;
    padding-right: 100px;
}

#header_stat
{
    display: flex;
    height: 200px;
    margin-top: 120px;
    background-color: yellow;
}

.header_stat_box
{
    background-color: red;
}

#icon
{
    height: 150px;
    padding: 25px;
}

#id_lvl
{
    padding-top: 10px;
    width: 10%;
}

body
{
    padding: 200px;
}