/*
** stylesheet for lol_stat
** page.
**
*/

body
{
    background-color: #000127;
}

h1, h2, p, label
{
    font-family: Tahoma, Geneva, sans-serif;
}

#header
{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
}

#header_contener
{
    display: flex;
    justify-content: flex-end;
}

#main_logo
{
    float: left;
    padding: 20px;
}

.button_header
{
    padding: 15px;
    padding-right: 100px;
}

#header_stat
{
    display: flex;
    height: 200px;
    margin-top: 120px;
    justify-content: center;
    background-color: yellow;
}

#body_matches
{
    margin: auto;
    margin-top: 10px;
    background-color: aqua;
    height: 500px;
    width: 75%;
}

#first_stat
{
    width: 33%;
    display: flex;
}

#icon
{
    height: 150px;
    padding: 25px;
}

#id_lvl
{
    padding-top: 10px;
}

#text_id
{
    font-size: 35px;
}

#text_lvl
{
    font-size: 30px;
}

#winrate_global
{
    width: 33%;
    background-color: blueviolet;
}

#best_champ
{
    width: 33%;
    background-color: green;
}