/*
** stylesheet for lol_stat
** page.
**
*/

@font-face
{
    font-family: "latoBlack";
    src: url("../../lib/fonts/lato/Lato-Black.ttf");
}

body
{
    background-color: #000127;
}

h1, h2, h3, p, label
{
    font-family: latoBlack;
}

#header
{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
}

#header_contener
{
    display: flex;
    justify-content: flex-end;
}

#main_logo
{
    float: left;
    padding: 20px;
}

.button_header
{
    padding: 15px;
    padding-right: 100px;
}

#header_stat
{
    display: flex;
    height: 200px;
    margin-top: 120px;
    justify-content: center;
    border: solid #cccc00 1px;
    background-color: #003366;
}

#body_matches
{
    margin: auto;
    margin-top: 10px;
    background-color: #032a52;
    border: solid #cccc00 1px;
    width: 50%;
}

#first_stat
{
    width: 33%;
    display: flex;
}

#icon
{
    height: 150px;
    padding: 25px;
}

#id_lvl
{
    padding-top: 10px;
}

#text_id
{
    color: #cccc00;
    font-size: 35px;
}

#text_lvl
{
    color: #cccc00;
    font-size: 30px;
}

#winrate_global
{
    width: 33%;
    border: solid #cccc00 1px;
    background-color: #032a52;
}

#best_champ
{
    width: 33%;
    line-height: 5px;
    border: solid #cccc00 1px;
    background-color: #032a52;
}

#possible_pick
{
    display: flex;
    color: #cccc00;
    justify-content: center;
}

.last_three
{
    padding-left: 10px; 
    padding-right: 10px;
}

#pp_text
{
    font-size: 25px;
}

#winrate_global
{
    display: flex;
    justify-content: center;
}

#cup
{
    width: 120px;
    height: 60%;
    padding-top: 40px;
    padding-left: 10px; 
    padding-right: 10px;
}

#winrate_text
{
    font-size: 65px;
    color: #cccc00;
    padding-left: 10px;
    padding-right: 10px;
}

#body_matches
{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.match_info
{
    display: flex;
    justify-content: space-between;
    border: solid black 2px;
}

img
{
    border-radius: 5%;
}

.champ_played
{
    border: solid #cccc00 2px;
    margin: 25px;
    margin-bottom: 0px;
}

.mode_g
{
    margin: auto;
    text-align: center;
}

.kda
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lastg
{
    color: #cccc00;
    margin: auto;
    padding: 20px;
}

.items
{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.items_line1
{
    display: flex;
}

.items_line2
{
    display: flex;
}

.item_icon
{
    padding: 5px;
    border: solid #cccc00 1px;
}

.time_lvl_minion
{
    padding-top: 25px;
}

.stat_damage
{
    padding-top: 40px;
}

.kda_text
{
    line-height: 0px;
}