@font-face
{
    font-family: "latoBlack";
    src: url("../lib/fonts/lato/Lato-Black.ttf");
}

@font-face
{
    font-family: "latoLight";
    src: url("../lib/fonts/lato/Lato-Light.ttf");
}

#header
{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
}

h1, h2, p, label, ul, a
{
    font-family: 'latoBlack';
    color: #FCF7F7;
}

h1
{
    font-size: 80px;
}

h2
{
    font-size: 60px;
}

a
{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#body_div
{
    background-image: url("../lib/images/wallpaper_dota.jpg");
}

#header_contener
{
    display: flex;
    justify-content: flex-end;
}

.button_header
{
    text-decoration: none;
    padding: 20px;
    padding-right: 100px;
}

.button_header:hover
{
    text-decoration: underline;
}

#main_logo
{
    float: left;
    padding: 20px;
    height: 60px;
}

#choose_game_txt
{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
    -webkit-text-stroke: 3px #FF5722;
    text-align: center;
}

#input_pseudo_div
{
    text-align: center;
    padding-bottom: 100px;
}

#input_steamid
{
    width: 60%;
    height: 50px;
    font-size: 45px;
    font-family: "latoLight";
}

#submit_button_div
{
    text-align: center;
}

#submit_button
{
    font-family: "latoLight";
    font-size: 25px;
    height: 50px;
    width: 100px;
}

#steamid_div {
    padding-top: 30px;
    text-align: center;
}

#find_your_steam_id {
    -webkit-text-stroke: 3px #FF5722;
}

#steamid_a {
    color: #4DC4A0;
    text-decoration: underline;
    font-size: 50px;
}
