@font-face
{
    font-family: "latoBlack";
    src: url("../../lib/fonts/lato/Lato-Black.ttf");
}

@font-face
{
    font-family: "marketDeco";
    src: url("../../lib/fonts/market_deco/Market_Deco.ttf");
}

#header
{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

h1, h2, p, ul, label
{
    font-family: 'latoBlack';
    color: #FCF7F7;
}

h1
{
    font-size: 80px;
}

h2
{
    font-size: 60px;
}

p
{
    text-align: center;
}

label
{
    font-size: 15px;
}

a
{
    text-decoration: none;
}

a:link
{
    color: white;
}

a:visited
{
    color: white;
}

#body_div
{
    padding: 85px;
    background-color: black;
}

#header_contener
{
    display: flex;
    justify-content: flex-end;
}

.button_header
{
    padding: 20px;
    padding-right: 100px;
}

.button_header:hover
{
    text-decoration: underline;
}

#main_logo
{
    float: left;
    padding: 20px;
}

#choose_game_contener
{
    display: flex;
    justify-content: center;
}

.button_choose_game
{
    width: 100%;
    height: 88%;
    opacity: 0.5;
}

.button_choose_game:hover
{
    opacity: 1;
}

#contener:hover > #choose_game_txt
{
    text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 1em blue;
}

#contener:hover > #choose_game_txt
{
    text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 1em red;
}

#choose_game_txt
{
    font-family: marketDeco, latoLight;
    text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 1em blue;
    font-size: 100px;
    z-index: 3;
    margin-left: 20%;
    margin-top: 15%;
    position: absolute;
}
